*.pyc
*.sq3
.project
.pydevproject
.idea
.settings
*.torrent
settings.*
*.torrent
misc/python
misc/pycrypto
*.fastresume
mycache
*.db
*.log
cloud/*
*.msi
download
*.komodoproject
warnbuild.txt
build/*
dist/*
stop.cmd